* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: rgb(236,104,43);
    background: linear-gradient(121deg, rgba(236,104,43,1) 0%, rgba(227,109,19,1) 41%, rgba(232,145,50,1) 69%);
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    margin: 0 10px;
}
.wrapper {
    width: 100%;
}

.list-div {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    background-color: #f2f2f2;
    height: 2.5em;
    align-items: center;
    width: 100%;
}

.list-div li {
    flex: 1;
    list-style: none;
    margin-left: 1em;
}

.list-div button {
    background-color: rgb(238, 39, 39);
    color: #f2f2f2;
    font-family: sans-serif;
    padding: 2px 4px;
    border: none;
    height: 100%;
    width: 2em;
    cursor: pointer;
}
.list-div input {
    padding: 2px 4px;
}

#check-el {
    background-color: rgb(0, 255, 115);
}

#input-el {
    padding: .5em 1em;
    font-family: sans-serif;
    font-size: 1em;
    border: none;
}

#addtodo-el {
    background: rgb(0, 255, 115);
    color: #f2f2f2;
    font-size: 1em;
    padding: 0 5px;
    border: none;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 1.6em;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

@media only screen and (min-width: 600px) {
    .wrapper {
        width: 500px;
    }
}